@charset "utf-8";

:root {
    --cor1:#727171 ;
    --cor2:#fff;
    --cor3: #000;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    
}
main {
    background-color: white;
    width: 1200px;
    margin: auto;
    height: 98vh;
    font-size: 1.5em;
    
}
table {
    border-collapse: collapse;
    width: 700px;
    margin: auto;
}
th, td, tr {
    border: 3px solid black;
    padding: 10px;
   
}
.left {
    text-align: left;
    background-color: var(--cor1);
    color: var(--cor2);        
}
th {
    background-color: var(--cor1);
    color: var(--cor2);  
}
.semcor {
    background-color: white;
    color: var(--cor3);
}
.md {
    background-color: var(--cor1);
    color: var(--cor2);  
}
caption {
    color: var(--cor2);
    background-color: var(--cor1);
    font-size: 1.5em;
    margin-top: 50px;
    padding: 10px;
    font-weight: Bold;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}